/* Resets CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	position: relative;
	display: flex;
	width: 100%;
	font-family: "Helvetica";
	background: #EEEEEE;
}

p {
	line-height: 2em;
}

a {
  color: black;
	text-decoration: none;
}

a:hover {
  color: goldenrod;
}

.navigation {
	position: fixed;
	padding: 40px;
	top: 0;
	bottom: 0;
	left: 0;
	width: 240px;
	color: white;
	background-color: #111111;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color: goldenrod;
}

li {
	margin-left: 35;
	padding-left: 10;
}

.header {
  font-weight: lighter;;
  font-size: 3.5em;
}

.footer {
	position: absolute;
	bottom: 20;
	font-weight: lighter;
	font-size: small;
}

.updated {
	font-weight: lighter;
	font-size: small;
	color: dimgrey;
}

.menu {
	font-size: large;
}

.content {
	position: relative;
	flex-grow: 1;
	margin-left: 320px;
	color: #111111;
}

.project-body {
	position: relative;
	flex-grow: 1;
	width: 40em;
	padding: 40px;
}

.project-media-main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.project-media-main img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.project-media-main iframe {
	display: block;
	width: 100%;
	height: 480px;
	object-fit: cover;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.project-media-thumbs {
	padding-top: 10px;
	padding-bottom: 10px;
}

.project-media-thumbs img {
	display: inline;
	width: 20%;
	height: auto;
	object-fit: contain;
	margin-right: 6px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.project-title {
	font-size: xx-large;
}

.project-description {
	font-size: large;
	line-height: 1.5em;
	padding-top: 10px;
}

table {
	padding-bottom: 40px;
	vertical-align: center;
}

td {
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	vertical-align: center;
}

td img {
	width: 24px;
}

.thumbnail {
  position: relative;
  display: inline-block;
	margin: 40px;
	width: 424px;
	height: 265px;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
	overflow: hidden;
	margin-bottom: 20px;
}

.thumbnail img {
  display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.thumbnail video {
  width: 100%;
	height: 200px;
	border-radius: 5px;
}

.thumbnail-overlay {
	position: absolute;
  bottom: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/scrim.png");
	background-position: bottom;
	background-repeat: repeat-x;
}

.thumbnail-text {
  position: absolute;
  bottom: 0;
	width: 100%;
	padding-bottom: 10px;
  font-size: x-large;
  color: white;
	text-align: center;
}
